.App {
  max-width: 200px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.App-Display {
  grid-column: 2/5;
  text-align: center;
}

.Fondo {
  max-width: 200px;
  justify-content: center;
  padding: 20px 0;
  display: flex;
  background-color: darkred;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
